:root {
  --color-jet: #353535;
  --color-gray: #d2d7df;
  --color-dark-gray: hsl(217, 17%, 70%);
  --color-silver: #bdbbb0;
  --color-light-jet: hsl(0, 0%, 40%);
  --page-bg-color: var(--color-gray, white);

  --notes-line-color: #85c1e9;
  --scroll-bar-width: none;
  --sidebar-line-height: 1.3em;
}

@font-face {
  font-family: "special-elite";
  src: url("./fonts/SpecialElite-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "anonymous pro";
  src: url("./fonts/AnonymousPro-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "special-elite";
}

button {
  color: skyblue;
  font-size: 20px;
  background-color: var(--color-jet);
  border-radius: 10px;
  border: 1px solid var(--color-gray);
  padding: 6px 12px;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    color: white;
  }
}

ul,
li {
  list-style: none;
}

.main-container {
  display: grid;
  background: var(--page-bg-color);
  grid:
    "edgework edgework edgework" minmax(50px, auto)
    "header header header" minmax(50px, auto)
    "sidebar modules notes" 1fr
    "footer footer footer" minmax(30px, 50px)
    / minmax(20ch, 200px) minmax(50%, 1fr) minmax(20ch, 50ch);
  height: 100dvh;
  height: 100vh;
}

/* Header css */

.header {
  grid-area: header;
  border-bottom: 2px solid black;
  background-color: var(--color-jet);
}

.open-modules-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  gap: 10px;
  color: skyblue;
}

.open-module-list-item {
  text-align: center;
  padding: 4px;
  border-radius: 10px;
  border-bottom: 4px solid black;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
    color: white;
  }
}

.open-module-list-item.current-header-item {
  color: white;
  border-bottom-color: white;
}

.selected {
  color: white;
}

/* Sidebar css */

.sidebar {
  grid-area: sidebar;
  overflow: auto;
  scrollbar-width: var(--scroll-bar-width);
  scrollbar-color: var(--color-jet) var(--color-gray);
  border-right: 1px solid var(--color-jet);

  padding: 10px;
}

#new-repo-tab-btn {
  width: 100%;
  margin-bottom: 4px;
}

.sidebar-filter {
  width: 100%;
  position: relative;
}

#filter {
  width: inherit;
  height: 2em;
  padding-left: 4px;
  border-radius: 6px;
  display: block;
}

button.clear-filter {
  width: 2ch;
  height: 2ch;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  content: "x";
  color: var(--color-jet);
  right: 0;
  top: 0;
  cursor: pointer;
}

button.clear-filter:hover {
  background-color: rgba(255, 0, 0, 0.1);
}

.module-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 20px;
}

.sidebar-item {
  display: flex;
  background-color: var(--color-jet, black);
  color: skyblue;
  padding: 6px 12px;
  border-radius: 6px;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
    color: white;
  }
}

.module-list-item > div {
  display: inline;
  align-self: center;
}

/* Main frame css */

.modules {
  grid-area: modules;
  position: relative;
}

.hidden-iframe {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}

.current-iframe {
  visibility: visible;
  height: 99%;
  width: 100%;
}

/* Edgework */

.edgework-wrapper {
  grid-area: edgework;
  display: flex;
  background-color: var(--color-jet);
  width: 100%;
}

.edgework-btn {
  margin: 12px 12px;
}

.edgework {
  padding: 0 20px;
  overflow: auto;
}

.widget {
  height: 50px;
  display: inline-block;
  margin: 12px 15px 8px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: bottom;
  position: relative;
}

.widget.serial {
  background-image: url(images/Serial\ number.png);
  width: 100px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  padding: 23px 0 0 11px;
  font-family: "Anonymous Pro";
}

.widget.battery.aa {
  width: 90px;
  background-image: url(images/BatteryAA.png);
}

.widget.battery.d {
  width: 90px;
  background-image: url(images/BatteryD.png);
}

.widget.indicator {
  width: 115px;
  color: white;
  font-family: "Ostrich", "anonymous pro";
  font-size: 30px;
  padding: 10px 0 0 50px;
}

.widget.indicator.lit {
  background-image: url(images/LitIndicator.png);
}

.widget.indicator.unlit {
  background-image: url(images/UnlitIndicator.png);
}

.widget.portplate {
  width: 112px;
  background-image: url(images/PortPlate.png);
  position: relative;
}

.widget.portplate > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.widget.portplate span.dvi,
.widget.portplate span.dvid {
  background-image: url(images/PortDVI.png);
}

.widget.portplate span.para,
.widget.portplate span.parallel,
.widget.portplate span.paralel {
  background-image: url(images/PortParallel.png);
}

.widget.portplate span.ps2 {
  background-image: url(images/PortPS2.png);
}

.widget.portplate span.rj45,
.widget.portplate span.rj {
  background-image: url(images/PortRJ.png);
}

.widget.portplate span.serial {
  background-image: url(images/PortSerial.png);
}

.widget.portplate span.rca,
.widget.portplate span.stereorca,
.widget.portplate span.stereo {
  background-image: url(images/PortRCA.png);
}

/* Notes css */

.notes {
  grid-area: notes;
  padding: 10px;
  height: 100%;
  width: 100%;

  overflow: auto;
  font-family: "special-elite";

  background-image: linear-gradient(
    to top,
    var(--notes-line-color) 0.1em,
    transparent 0.1em
  );
  background-size: 100% 1.4em;
  background-attachment: local;
  padding-top: 0.2rem;
  line-height: 1.4;
  border-left: 1px solid var(--color-jet);
}

.notes:focus {
  outline: none;
}

/* Footer css */

.footer {
  grid-area: footer;
  background-color: var(--color-jet);

  display: flex;
  justify-content: end;
  padding: 10px;
}

.alphabet-popup-wrapper {
  position: relative;
}

.alphabet-popup {
  position: absolute;
  background-color: var(--color-gray);
  right: 0;
  bottom: calc(100% + 4px);
  border: 1px solid var(--color-jet);
  padding: 8px;
  border-radius: 8px;
  display: grid;
  grid:
    "first second" 1fr
    "third forth" 1fr
    "fifth sixth" 1fr
    / 1fr 1fr;
}

.alphabet-popup > * {
  white-space: nowrap;
  color: var(--color-jet);
}

.alphabet-popup > *:last-child {
  display: flex;
  justify-content: space-between;
}

.alphabet-popup > div > span {
  padding-right: 1ch;
}

.single-digit {
  padding-left: 1ch;
}

.mini-btn {
  font-size: 12px;
  padding: 3px 6px;
}

/* pop ups */

form div.title {
  font-size: 24px;
  text-align: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.edgework-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.edgework-form label {
  margin-top: 10px;
}

label[for="serial"] {
  position: relative;
}
label[for="serial"]:after {
  content: "required";
  color: red;
  font-size: 0.5em;
  position: absolute;
  right: 0;
  bottom: 0;
}

.edgework-form input {
  padding-left: 4px;
  font-size: inherit;
}

.inds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 4px;
}

.form-btn {
  color: skyblue;
  font-size: 20px;
  background-color: var(--color-jet);
  border-radius: 10px;
  border: 1px solid var(--color-gray);
  padding: 6px 12px;
  margin: 4px 4px;
}
