:root {
    --color-jet: #353535;
    --color-gray: #d2d7df;
    --color-dark-gray: hsl(217, 17%, 70%);
    --color-silver: #bdbbb0;
    --color-light-jet: hsl(0, 0%, 40%);
    --page-bg-color: var(--color-gray, white);

    --notes-line-color: #85c1e9;
    --scroll-bar-width: thin;
    --sidebar-line-height: 1.3em;
}

@font-face {
    font-family: "special-elite";
    src: url("./fonts/SpecialElite-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "special-elite";
}

ul,
li {
    list-style: none;
}

.main-container {
    display: grid;
    background: var(--page-bg-color);
    grid:
        "header header header" minmax(100px, auto)
        "sidebar modules notes" 1fr
        "footer footer footer" 30px
        / 200px minmax(50%, 1fr) minmax(20ch, 50ch);
    height: 100dvh;
    height: 100vh;
}

.header {
    grid-area: header;
    border-bottom: 2px solid black;
    background-color: var(--color-jet);
}

.footer {
    grid-area: footer;

    background-color: var(--color-jet);
}

.open-modules-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
    color: white;
}

.open-module-list-item {
    text-align: center;
    cursor: pointer;
    padding: 4px;
    border-radius: 10px;
    border-bottom: 4px solid black;
}

.open-module-list-item:hover {
    background-color: var(--color-dark-gray);
}

.open-module-list-item:active {
    background-color: var(--color-dark-gray);
}

.sidebar {
    grid-area: sidebar;
    overflow: auto;
    scrollbar-width: var(--scroll-bar-width);
    scrollbar-color: var(--color-jet) var(--color-gray);

    .module-list {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 20px;
    }
}

.module-list-item {
    display: flex;
}

.sidebar-item {
    background-color: var(--color-jet, black);
    color: skyblue;
    padding: 6px 12px;
    border-radius: 6px;
}

.module-list :first-child {
    margin-bottom: 30px;
}

.first-appendix {
    margin-top: 30px;
}

.module-list-item > div {
    display: inline;
    align-self: center;
}

.sidebar-item:hover {
    opacity: 0.9;
    cursor: pointer;
}

.modules {
    grid-area: modules;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

iframe {
    height: 99%;
    width: 100%;
}

.notes {
    grid-area: notes;
    padding: 10px;
    height: 100%;
    width: 100%;

    overflow: auto;
    font-family: "special-elite";

    background-image: linear-gradient(
        to top,
        var(--notes-line-color) 0.1em,
        transparent 0.1em
    );
    background-size: 100% 1.4em;
    background-attachment: local;
    padding-top: 0.2rem;
    line-height: 1.4;
}
