/* Edgework Form */

.form.edgework-form {
  max-width: 840px;
  flex-basis: 840px;
}

.edgework-form-row {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.edgework-form .edgework-form-row:not(.battery-row) * {
  width: 100%;
  max-width: 100%;
  & label {
    display: block;
  }
}

label[for="serial"] {
  margin: 0 auto;
}

#serial-input {
  padding: 8px;
  width: 8ch;
  text-align: center;
  margin: 0 auto;
}

#holders-input,
#batteries-input {
  width: 4ch;
  padding: 4px;
}

.edgework-preview.edgework {
  padding: 10px;
  background-color: var(--color-jet);
  min-height: 100px;
  max-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-basis: 800px;
  align-self: center;
  flex-direction: row;
  justify-content: center;
}

.serial-preview div.widget.serial {
  margin-right: 5px;
}

.indicators-preview {
  display: flex;
  flex-direction: row-reverse;
}
