/* Header css */

.header {
  background-color: var(--color-jet);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.open-modules-list {
  flex: 2;
  margin: 10px;
  gap: 10px;
  color: var(--color-blue);
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;
}

.open-module-list-item {
  padding: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.open-module-list-item:hover {
  color: white;
}

.open-module-list-item.current-header-item {
  color: white;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
}

.open-module-list-item.current-header-item:hover {
  color: var(--color-gray);
  border-top-color: var(--color-gray);
  border-left-color: var(--color-gray);
  border-right-color: var(--color-gray);
}

.open-module-list-item.alternate-header-item {
  color: var(--color-green);
  border-top-color: var(--color-green);
  border-left-color: var(--color-green);
  border-right-color: var(--color-green);
}

.close-btn:hover {
  color: var(--color-red);
}

/* Edgework */

.edgework-btn {
  margin: 12px 12px;
}

.edgework {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: space-evenly;
}

.widget {
  height: 50px;
  display: inline-block;
  margin: 12px 15px 8px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.widget.serial {
  background-image: url(/src/images/Serial\ number.png);
  width: 100px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  padding: 23px 0 0 11px;
  font-family: "Anonymous Pro";
}

.battery-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.widget.battery.aa {
  width: 90px;
  background-image: url(/src/images/BatteryAA.png);
}

.widget.battery.d {
  width: 90px;
  background-image: url(/src/images/BatteryD.png);
}

.ind-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.widget.indicator {
  width: 115px;
  color: white;
  font-family: "Ostrich", "Anonymous pro";
  font-size: 30px;
  padding: 10px 0 0 50px;
}

.widget.indicator.lit {
  background-image: url(/src/images/LitIndicator.png);
}

.widget.indicator.unlit {
  background-image: url(/src/images/UnlitIndicator.png);
}

.widget.portplate {
  width: 112px;
  background-image: url(/src/images/PortPlate.png);
  position: relative;
}

.widget.portplate > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.widget.portplate span.dvi {
  background-image: url(/src/images/PortDVI.png);
}

.widget.portplate span.parallel {
  background-image: url(/src/images/PortParallel.png);
}

.widget.portplate span.ps2 {
  background-image: url(/src/images/PortPS2.png);
}

.widget.portplate span.rj {
  background-image: url(/src/images/PortRJ.png);
}

.widget.portplate span.serial {
  background-image: url(/src/images/PortSerial.png);
}

.widget.portplate span.rca {
  background-image: url(/src/images/PortRCA.png);
}

.close-all-header-tabs {
  font-size: 1rem;
}
