/* Main frame css */
.manuals {
  flex-grow: 1;
  border-left: 1px solid var(--color-jet);
  border-right: 1px solid var(--color-jet);
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 25%,
    rgba(135, 206, 235, 1) 70%,
    rgba(210, 215, 223, 1) 95%
  );
}

.show-sidebar-btn {
  transform: rotate(180deg);
  position: absolute;
}

.add-one-btn {
  top: 24px;
  position: absolute;
}

.hidden-iframe {
  display: none;
}

.alternate-iframe,
.current-iframe {
  visibility: visible;
  height: 100%;
  width: 100%;
}

.split {
  display: grid;
  grid:
    "left right" 1fr
    / 1fr 1fr;
}

.collapse-sidebar-btn,
.add-one-btn {
  border-radius: 0;
  cursor: pointer;
}

.collapse-sidebar-btn:hover,
.show-sidebar-btn:hover,
.add-one-btn:hover {
  stroke: var(--color-blue);
  fill: var(--color-blue);
}

.split-button {
  width: 1.75em;
  height: 1.75em;
  cursor: pointer;
  stroke: none;
}

.split-button:hover {
  stroke: var(--color-green);
}

.split-button.selected {
  stroke: var(--color-green);
}

.split-button.selected:hover {
  stroke: none;
}

.alternate-iframe {
  grid-area: left;
}

.current-iframe {
  grid-area: right;
}
