/* Notes css */

.notes-wrapper-wrapper {
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 25%,
    rgba(135, 206, 235, 1) 70%,
    rgba(210, 215, 223, 1) 95%
  );
}

.notes-wrapper {
  width: 20vw;
  height: 100%;
  touch-action: none;
  position: relative;
  display: flex;
  max-width: 60vw;
  min-width: 1px;
  min-height: 10px;
}

.notes,
.second-notes {
  flex-basis: 50%;
  flex-grow: 1;
  padding: 10px;

  overflow: scroll;
  font-family: "NotoSansMono", "sans-serif";

  background-image: linear-gradient(
    to top,
    var(--notes-line-color) 0.1em,
    var(--color-gray) 0.1em
  );
  background-size: 100% 1.4em;
  background-attachment: local;
  padding-top: 0.2rem;
  line-height: 1.4;
  overflow: auto;
}

.notes:has(+ .second-notes:not(.hidden)) {
  border-right: 1px solid var(--color-jet);
}

.notes:has(+ .second-notes.hidden),
.second-notes {
  padding-right: 22px;
}

.second-notes:focus,
.notes:focus {
  outline: none;
}

.split-notes-btn {
  position: absolute;
  top: 2px;
  right: 2px;
}

.bad-resize-msg {
  position: absolute;
  bottom: -50px;
}
