/* Notes css */

.notes {
  grid-area: notes;
  padding: 10px;

  overflow: scroll;
  font-family: "NotoSansMono", "sans-serif";

  background-image: linear-gradient(
    to top,
    var(--notes-line-color) 0.1em,
    transparent 0.1em
  );
  background-size: 100% 1.4em;
  background-attachment: local;
  padding-top: 0.2rem;
  line-height: 1.4;
  overflow: auto;
}

.notes:focus {
  outline: none;
}
