/* Sidebar */

.sidebar {
  padding: 10px;
  position: relative;
  width: 25ch;
}

.sidebar-top-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 25ch;
}

.module-list {
  margin-top: 110px;
  overflow: scroll;
  scrollbar-width: none;
  height: calc(100% - 110px);
}

.module-list-title-wrapper {
  display: flex;
  position: relative;
  gap: 4px;
  justify-content: end;
  align-items: center;
  padding-bottom: 8px;
}

.module-list-title-wrapper .module-list-title {
  margin-right: auto;
}

.module-list-title {
  display: inline-block;
  font-size: 24px;
}

.sidebar-filter-wrapper {
  position: relative;
  margin-bottom: 12px;
}

#sidebar-filter-input {
  height: 2em;
  padding-left: 4px;
  border-radius: 6px;
}

svg.sidebar-filter-clear {
  min-width: 1em;
  min-height: 1em;
  max-width: 1em;
  max-height: 1em;
  position: absolute;
  right: 0.5em;
  top: 0.4em;
  cursor: pointer;
}

.sidebar-filter-clear:hover {
  fill: var(--color-red);
}

.sidebar-item,
.new-repo-tab-btn {
  width: 100%;
  margin: 2px 0;
  font-size: 1.2rem;
  border: none;
  background-color: var(--color-jet, black);
  color: var(--color-blue);
  padding: 6px 2px 6px 12px;
  border-radius: 6px;
  word-break: break-word;
  text-align: start;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.new-repo-tab-btn {
  justify-content: start;
}

.sidebar-item:hover,
.new-repo-tab-btn:hover {
  color: white;
}

.edit-svg {
  display: grid;
  place-items: center;
}

.edit-svg:hover {
  fill: white;
}
