:root {
  --color-jet: #353535;
  --color-gray: #d2d7df;
  --color-dark-gray: hsl(217, 17%, 70%);
  --color-silver: #bdbbb0;
  --color-light-jet: hsl(0, 0%, 40%);
  --color-green: #cefb89;
  --color-red: #ed9190;
  --color-blue: skyblue;
  --color-orange: #edc090;
  --page-bg-color: var(--color-gray, white);

  --notes-line-color: #85c1e9;
}

@font-face {
  font-family: "special-elite";
  src: url("/src/fonts/SpecialElite-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "anonymous pro";
  src: url("/src/fonts/AnonymousPro-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "special-elite";
}

input {
  width: 100%;
  font-family: "anonymous pro", "sans-serif";
}

.hidden {
  display: none !important;
}

button {
  font-size: 1.2rem;
  color: #87ceeb;
  background-color: var(--color-jet);
  border-radius: 10px;
  border: 1px solid var(--color-gray);
  padding: 6px 12px;
}

button:hover {
  cursor: pointer;
  color: white;
}

ul,
li {
  list-style: none;
}

.red {
  color: var(--color-red) !important;
}

.green {
  color: var(--color-green) !important;
}

.orange {
  color: var(--color-orange) !important;
}

svg {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  border-radius: 50%;
  stroke: var(--color-jet);
}

.main-container {
  display: grid;
  background: var(--page-bg-color);
  grid:
    "header header" minmax(50px, auto)
    "main notes" 1fr
    "footer footer" minmax(30px, auto)
    / 1fr minmax(20ch, 25%);
  height: 100dvh;
  height: 100vh;
  gap: 1px;
}

.main {
  grid-area: main;
  display: flex;
  overflow: hidden;
}

/* Header css */

.header {
  grid-area: header;
  background-color: var(--color-jet);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.open-modules-list {
  flex: 1;
  margin: 10px;
  gap: 10px;
  color: var(--color-blue);
  align-self: flex-end;
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap-reverse;
  max-width: 90vw; /* Keeps tabs from hiding behind edgework button */
}

.open-module-list-item {
  padding: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.open-module-list-item:hover {
  color: white;
}

.open-module-list-item.current-header-item {
  color: white;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
}

.open-module-list-item.alternate-header-item {
  color: var(--color-green);
  border-top-color: var(--color-green);
  border-left-color: var(--color-green);
  border-right-color: var(--color-green);
}

.close-btn:hover {
  color: var(--color-red);
}

/* Edgework */

.edgework-wrapper {
  flex: 1;
  flex-wrap: wrap;
  background-color: var(--color-jet);
  width: 100%;
  max-width: fit-content;
  align-self: flex-end;
  justify-content: flex-start;
  display: flex;
  flex-direction: row-reverse;
}

.edgework-btn {
  margin: 12px 12px;
  position: absolute;
  top: 0;
  right: 0;
}

.edgework {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

#edgework-preview.edgework {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--color-jet);
  min-height: 150px;
  width: 35vw;
  align-self: center;
}

#serial-preview .serial {
  margin-right: 5px;
}

#indicators-preview {
  display: flex;
  flex-direction: row-reverse;
}

#edgework-first {
  text-align: center;
}

#serial {
  padding: 8px;
  width: 8ch;
  text-align: center;
}

label[for="serial"]:after {
  content: "required";
  color: red;
  font-size: 0.5em;
  position: absolute;
  right: 0;
}

#holders,
#batteries {
  width: 4ch;
  padding: 4px;
}

.widget {
  height: 50px;
  display: inline-block;
  margin: 12px 15px 8px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#ind-table {
  display: grid;
  grid-template-columns: 5ch repeat(11, 4ch);
  text-align: center;
  gap: 2px;
  margin-top: 10px;
}

.row-labels {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.ind-group,
.row-labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.row-labels {
  align-items: end;
  gap: 0;
}

.ind-group input[type="radio"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.none-text,
.ind-group:has(input[value="none"]:checked) {
  color: #2b2926;
}

.lit-text,
.ind-group:has(input[value="lit"]:checked) {
  color: white;
}

.unlit-text,
.ind-group:has(input[value="unlit"]:checked) {
  color: rgba(0, 0, 0, 0.15);
}

.widget.serial {
  background-image: url(/src/images/Serial\ number.png);
  width: 100px;
  margin-right: 150px; /* Extra space for edgework button */
  font-size: 24px;
  font-weight: bold;
  color: black;
  padding: 23px 0 0 11px;
  font-family: "Anonymous Pro";
}

.widget.battery.aa {
  width: 90px;
  background-image: url(/src/images/BatteryAA.png);
}

.widget.battery.d {
  width: 90px;
  background-image: url(/src/images/BatteryD.png);
}

.widget.indicator {
  width: 115px;
  color: white;
  font-family: "Ostrich", "Anonymous pro";
  font-size: 30px;
  padding: 10px 0 0 50px;
}

.ind-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.battery-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.widget.indicator.lit {
  background-image: url(/src/images/LitIndicator.png);
}

.widget.indicator.unlit {
  background-image: url(/src/images/UnlitIndicator.png);
}

.widget.portplate {
  width: 112px;
  background-image: url(/src/images/PortPlate.png);
  position: relative;
}

.widget.portplate > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.widget.portplate span.dvi,
.widget.portplate span.dvid {
  background-image: url(/src/images/PortDVI.png);
}

.widget.portplate span.para,
.widget.portplate span.parallel,
.widget.portplate span.paralel {
  background-image: url(/src/images/PortParallel.png);
}

.widget.portplate span.ps2 {
  background-image: url(/src/images/PortPS2.png);
}

.widget.portplate span.rj45,
.widget.portplate span.rj {
  background-image: url(/src/images/PortRJ.png);
}

.widget.portplate span.serial {
  background-image: url(/src/images/PortSerial.png);
}

.widget.portplate span.rca,
.widget.portplate span.stereorca,
.widget.portplate span.stereo {
  background-image: url(/src/images/PortRCA.png);
}

/* Sidebar */

.sidebar {
  padding: 10px;
  position: relative;
  width: 25ch;
}

.module-list {
  overflow: scroll;
  scrollbar-width: none;
  height: 100%;
}

.module-list-title-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#title-btn-list {
  position: absolute;
  right: 0;
}

.module-list-title {
  display: inline-block;
  font-size: 24px;
  padding-bottom: 8px;
}

.module-list-title.red {
  letter-spacing: 2px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#sidebar-menu-wrapper {
  position: relative;
}

#sidebar-options-menu {
  position: absolute;
  background-color: var(--color-gray);
  right: 0;
  z-index: 1;
  border: 1px solid var(--color-jet);
  border-radius: 5px;
}

.options-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
  text-wrap: nowrap;
}

.options-list > li {
  color: var(--color-blue);
  background-color: var(--color-jet);
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.sidebar-filter-wrapper {
  position: relative;
  margin-bottom: 12px;
}

#filter {
  height: 2em;
  padding-left: 4px;
  border-radius: 6px;
}

svg#options-btn:hover {
  fill: var(--color-blue);
}

svg#filter-clear {
  width: 1em;
  height: 1em;
  position: absolute;
  right: 0.5em;
  top: 0.4em;
  cursor: pointer;
}

#filter-clear:hover {
  fill: var(--color-red);
}

#add-new-module-form {
  position: relative;
}

#add-new-module-url {
  width: auto;
  min-width: 40ch;
}

.form {
  max-height: 80vh;
  max-width: 90vw;
}

#import-modules-form {
  display: flex;
  flex-direction: column;
}

#file-wrapper {
  display: flex;
  justify-content: space-between;
}

#import-modules-file {
  font-size: 10px;
}

#import-modules-example {
  font-size: 0.5em;
}

.popup-text-area {
  overflow-y: scroll;
  white-space: pre-wrap;
  margin-top: 10px;
  padding: 8px;
  min-height: 2em;
  height: 20em;
  min-width: 20ch;
  width: 60ch;
  text-wrap: nowrap;
  background-color: white;
  font-size: 0.8em;
}

.popup-text-area:not([contenteditable]) {
  background-color: var(--color-silver);
}

.sidebar-item,
#new-repo-tab-btn {
  width: 100%;
  margin: 2px 0;
  font-size: 1.2rem;
  border: none;
  background-color: var(--color-jet, black);
  color: var(--color-blue);
  padding: 6px 12px;
  border-radius: 6px;
  word-break: break-word;
  text-align: start;
  cursor: pointer;
}

.sidebar-item:hover,
#new-repo-tab-btn:hover {
  color: white;
}

/* Main frame css */
.manuals {
  flex-grow: 1;
  border-left: 1px solid var(--color-jet);
  border-right: 1px solid var(--color-jet);
  position: relative;
  background-color: white;
}

#collapse-sidebar-btn,
#add-one-btn {
  border-radius: 0;
  margin: 4px;
  position: absolute;
  cursor: pointer;
}

#collapse-sidebar-btn[rotate180] {
  transform: rotate(180deg);
}

#collapse-sidebar-btn:hover,
#add-one-btn:hover {
  stroke: var(--color-blue);
  fill: var(--color-blue);
}

#add-one-btn {
  top: 24px;
}

.hidden-iframe {
  display: none;
}

.alternate-iframe,
.current-iframe {
  visibility: visible;
  height: 100%;
  width: 100%;
}

.alternate-iframe {
  grid-area: left;
}

.current-iframe {
  grid-area: right;
}

.split {
  display: grid;
  grid:
    "left right" 1fr
    / 1fr 1fr;
}

/* Notes css */

.notes {
  grid-area: notes;
  padding: 10px;

  overflow: scroll;
  font-family: "anonymous pro", "sans-serif";

  background-image: linear-gradient(
    to top,
    var(--notes-line-color) 0.1em,
    transparent 0.1em
  );
  background-size: 100% 1.4em;
  background-attachment: local;
  padding-top: 0.2rem;
  line-height: 1.4;
}

.notes:focus {
  outline: none;
}

/* Footer css */

.footer {
  grid-area: footer;
  background-color: var(--color-jet);

  display: flex;
  justify-content: end;
  padding: 10px;
  position: relative;
}

.selected {
  color: white;
}

.alphabet-popup {
  position: absolute;
  background-color: var(--color-gray);
  margin: 4px;
  right: 0;
  bottom: calc(100%);
  border: 1px solid var(--color-jet);
  padding: 8px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(10, 4ch);
  color: var(--color-jet);
  gap: 2px;
}

.single-digit {
  padding-left: 1ch;
}

.mini-btn-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4px;
}

.mini-btn {
  font-size: 12px;
  padding: 3px 6px;
}

/* pop ups */

form div.title {
  font-size: 36px;
  margin-bottom: 24px;
  text-align: center;
}

.popup-overlay,
#super-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: var(--color-gray);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

input.ind-checkbox {
  width: auto;
}

.form label {
  margin-top: 10px;
}

.form input {
  padding: 4px;
  line-height: 1.4em;
  font-size: inherit;
}

label[for="serial"],
label[for="url"] {
  position: relative;
}

label[for="url"]:after {
  content: "required";
  color: red;
  font-size: 0.5em;
  position: absolute;
  right: 0;
  bottom: 0;
}

.ind-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-btn-group {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 8px;
}

#nuke-btn:hover {
  color: var(--color-red);
}

.form.temp {
  display: flex;
  flex-direction: column;
}

.form.temp .title {
  overflow-x: auto;
  white-space: pre-wrap;
}

#super-overlay {
  z-index: 100;
}
