:root {
  --color-jet: #353535;
  --color-gray: #d2d7df;
  --color-dark-gray: hsl(217, 17%, 70%);
  --color-silver: #bdbbb0;
  --color-light-jet: hsl(0, 0%, 40%);
  --color-green: #cefb89;
  --color-red: #ed9190;
  --color-blue: skyblue;
  --page-bg-color: var(--color-gray, white);

  --notes-line-color: #85c1e9;
}

@font-face {
  font-family: "special-elite";
  src: url("/src/fonts/SpecialElite-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "anonymous pro";
  src: url("/src/fonts/AnonymousPro-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "special-elite";
}

input {
  width: 100%;
}

.hidden {
  display: none !important;
}

button {
  font-size: 1.2rem;
  color: #87ceeb;
  background-color: var(--color-jet);
  border-radius: 10px;
  border: 1px solid var(--color-gray);
  padding: 6px 12px;
}

button:hover {
  cursor: pointer;
  color: white;
}

ul,
li {
  list-style: none;
}

.red {
  color: var(--color-red) !important;
}

svg {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  border-radius: 50%;
  stroke: var(--color-jet);
}

.main-container {
  display: grid;
  background: var(--page-bg-color);
  grid:
    "header header header header" minmax(50px, auto)
    "sidebar manuals manuals notes" 1fr
    "footer footer footer footer" minmax(30px, auto)
    / minmax(20ch, 200px) minmax(25%, 1fr) 25% minmax(20ch, 50ch);
  height: 100dvh;
  height: 100vh;
  gap: 1px;
}

/* Header css */

.header {
  grid-area: header;
  background-color: var(--color-jet);
  display: flex;
}

.open-modules-list {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
  color: var(--color-blue);
  align-self: flex-end;
}

.open-module-list-item {
  padding: 4px;
  border-radius: 10px;
  border-bottom: 4px solid black;
  cursor: pointer;
}

.open-module-list-item:hover {
  color: white;
}

.open-module-list-item.current-header-item {
  color: white;
  border-bottom-color: white;
}

/* Edgework */

.edgework-wrapper {
  flex: 2;
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--color-jet);
  width: 100%;
}

.edgework-btn {
  margin: 12px 12px;
  position: absolute;
}

.edgework {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.widget {
  height: 50px;
  display: inline-block;
  margin: 12px 15px 8px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.widget.serial {
  background-image: url(/src/images/Serial\ number.png);
  width: 100px;
  margin-right: 150px; /* Extra space for edgework button */
  font-size: 24px;
  font-weight: bold;
  color: black;
  padding: 23px 0 0 11px;
  font-family: "Anonymous Pro";
}

.widget.battery.aa {
  width: 90px;
  background-image: url(/src/images/BatteryAA.png);
}

.widget.battery.d {
  width: 90px;
  background-image: url(/src/images/BatteryD.png);
}

.widget.indicator {
  width: 115px;
  color: white;
  font-family: "Ostrich", "Anonymous pro";
  font-size: 30px;
  padding: 10px 0 0 50px;
}

.widget.indicator.lit {
  background-image: url(/src/images/LitIndicator.png);
}

.widget.indicator.unlit {
  background-image: url(/src/images/UnlitIndicator.png);
}

.widget.portplate {
  width: 112px;
  background-image: url(/src/images/PortPlate.png);
  position: relative;
}

.widget.portplate > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.widget.portplate span.dvi,
.widget.portplate span.dvid {
  background-image: url(/src/images/PortDVI.png);
}

.widget.portplate span.para,
.widget.portplate span.parallel,
.widget.portplate span.paralel {
  background-image: url(/src/images/PortParallel.png);
}

.widget.portplate span.ps2 {
  background-image: url(/src/images/PortPS2.png);
}

.widget.portplate span.rj45,
.widget.portplate span.rj {
  background-image: url(/src/images/PortRJ.png);
}

.widget.portplate span.serial {
  background-image: url(/src/images/PortSerial.png);
}

.widget.portplate span.rca,
.widget.portplate span.stereorca,
.widget.portplate span.stereo {
  background-image: url(/src/images/PortRCA.png);
}

/* Sidebar */

.sidebar {
  grid-area: sidebar;
  overflow: auto;
  scrollbar-width: none;
  padding: 10px;
}

.module-list-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.module-list-title {
  display: inline-block;
  font-size: 24px;
  padding-bottom: 8px;
}

.module-list-title.red {
  letter-spacing: 2px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

svg#add-new-module-btn:hover {
  fill: var(--color-blue);
}

svg#edit-module-list-btn:hover {
  fill: var(--color-red);
}

.sidebar-filter-wrapper {
  position: relative;
  margin-bottom: 12px;
}

#filter {
  height: 2em;
  padding-left: 4px;
  border-radius: 6px;
}

svg#filter-clear {
  width: 1em;
  height: 1em;
  position: absolute;
  right: 0.5em;
  top: 0.4em;
  cursor: pointer;
}

#filter-clear:hover {
  fill: var(--color-red);
}

#add-new-module-form {
  position: relative;
}

#add-many-new-module-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.5em;
}

#file-wrapper {
  display: flex;
  justify-content: space-between;
}

#add-many-new-module-file {
  font-size: 10px;
}

#add-many-example {
  font-size: 0.5em;
}

#add-many-new-module-text {
  white-space: pre-wrap;
  margin-top: 10px;
  padding: 8px;
  min-height: 20em;
  text-wrap: nowrap;
  background-color: white;
  font-size: 0.8em;
}

#add-many-new-module-text:not([contenteditable]) {
  background-color: var(--color-silver);
}

.sidebar-item,
#new-repo-tab-btn {
  width: 100%;
  margin: 2px 0;
  font-size: 1.2rem;
  border: none;
  background-color: var(--color-jet, black);
  color: var(--color-blue);
  padding: 6px 12px;
  border-radius: 6px;
  word-break: break-word;
  text-align: start;
  cursor: pointer;
}

.sidebar-item:hover,
#new-repo-tab-btn:hover {
  color: white;
}

/* Main frame css */

.manuals {
  grid-area: manuals;

  border-left: 1px solid var(--color-jet);
  border-right: 1px solid var(--color-jet);
}

.hidden-iframe {
  visibility: hidden;
  position: absolute;
}

.current-iframe {
  visibility: visible;
  height: 100%;
  width: 100%;
}

/* Notes css */

.notes {
  grid-area: notes;
  padding: 10px;

  overflow: auto;
  font-family: "special-elite";

  background-image: linear-gradient(
    to top,
    var(--notes-line-color) 0.1em,
    transparent 0.1em
  );
  background-size: 100% 1.4em;
  background-attachment: local;
  padding-top: 0.2rem;
  line-height: 1.4;
}

.notes:focus {
  outline: none;
}

/* Footer css */

.footer {
  grid-area: footer;
  background-color: var(--color-jet);

  display: flex;
  justify-content: end;
  padding: 10px;
  position: relative;
}

.selected {
  color: white;
}

.alphabet-popup {
  position: absolute;
  background-color: var(--color-gray);
  margin: 4px;
  right: 0;
  bottom: calc(100%);
  border: 1px solid var(--color-jet);
  padding: 8px;
  border-radius: 8px;
  display: grid;
  /* grid:
    "first second" 1fr
    "third forth" 1fr
    "fifth sixth" 1fr
    / 1fr 1fr; */
  grid-template-columns: repeat(10, 4ch);
  color: var(--color-jet);
  gap: 2px;
}

.single-digit {
  padding-left: 1ch;
}

.mini-btn-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4px;
}

.mini-btn {
  font-size: 12px;
  padding: 3px 6px;
}

/* pop ups */

form div.title {
  font-size: 24px;
  text-align: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: var(--color-gray);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

input.ind-checkbox {
  width: auto;
}

.form label {
  margin-top: 10px;
}

.form input {
  padding: 4px;
  font-size: inherit;
}

label[for="serial"],
label[for="url"] {
  position: relative;
}
label[for="serial"]:after,
label[for="url"]:after {
  content: "required";
  color: red;
  font-size: 0.5em;
  position: absolute;
  right: 0;
  bottom: 0;
}

.ind-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-btn-group {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 8px;
}
